.quem-somos {
    background-color: #8181F7;
}

.margin {
    padding-top: 50px;
}

.parceiros {
    background-color: #EEE;
}

.bg-footer {
    background-color: #EEE;
}





::selection {
    color: #0E0E0E;
    background-color: #6100FF;
}